:host {
  display: block;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Entry animation */
@keyframes cardIn {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-cardIn {
  animation: cardIn 2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

/* Smooth gradient slide from bottom to top */
.group:hover .translate-y-full {
  transform: translateY(0) !important;
  background-color: #213abd;
}
