@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.6s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #007ACC;
  outline: 3px #007ACC solid;
  outline-offset: -3px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: 100%;
  margin-bottom: 1em;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  transition: 400ms;
}


input, textarea {
  background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    font-size: 14px;
}