<div class="flex h-screen bg-gray-50">
  <!-- Sidebar -->
  
 <aside
    [ngClass]="sidebarOpen ? 'w-[250px]' : 'w-20'"
    class="transition-all duration-300 bg-white border-r shadow-sm flex flex-col"
  >
    <div class="flex items-center justify-between p-4 border-b">
      <span class="text-xl font-semibold text-blue-600 truncate" style="color: #000;" *ngIf="sidebarOpen">HMC</span>
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ sidebarOpen ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>
    </div>

    <nav class="flex-1 overflow-y-auto px-2 py-3 space-y-1 custom-scrollbar">
      <a
        routerLink="/layout/teachers"
        routerLinkActive="bg-[#fae27c] text-blue-600"
        class="flex items-center gap-3 px-3 py-2 text-gray-700 rounded-lg hover:bg-[#fae27c] transition"
      >
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sidebarOpen">Tests</span>
      </a>

      <a
        routerLink="/layout/scl-class"
        routerLinkActive="bg-[#fae27c] text-blue-600"
        class="flex items-center gap-3 px-3 py-2 text-gray-700 rounded-lg hover:bg-blue-50 transition"
      >
        <mat-icon>group</mat-icon>
        <span *ngIf="sidebarOpen">bookings</span>
      </a>

      <a
        routerLink="/students"
        routerLinkActive="bg-[#fae27c] text-blue-600"
        class="flex items-center gap-3 px-3 py-2 text-gray-700 rounded-lg hover:bg-blue-50 transition"
      >
        <mat-icon>school</mat-icon>
        <span *ngIf="sidebarOpen">Reports</span>
      </a>

    </nav>

    <div class="p-4 border-t text-sm text-gray-500">
      <a class="flex items-center gap-2 cursor-pointer hover:text-blue-600 transition">
        <mat-icon>logout</mat-icon>
        <span *ngIf="sidebarOpen">Logout</span>
      </a>
    </div>
  </aside>

  <!-- Main content -->
  <div class="flex-1 flex flex-col">
    <!-- Top Navbar -->
    <header class="flex items-center justify-end p-4 bg-white border-b shadow-sm">
      <div class="flex items-center gap-4">
        <mat-icon class="cursor-pointer">notifications_none</mat-icon>
        <mat-icon class="cursor-pointer">chat_bubble_outline</mat-icon>

        <div class="flex items-center gap-2">
           <div class="hidden md:block text-sm">
            <div class="font-medium">Linda Adora</div>
            <div class="text-gray-500">Admin</div>
          </div>
          <img src="https://randomuser.me/api/portraits/women/44.jpg" class="w-10 h-10 rounded-full" alt="User">
         
        </div>
      </div>
    </header>

    <!-- Router outlet for table -->
    <main class="flex-1 overflow-auto" style="padding: 1em 2em;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
