:host {
  display: block;
}

.app-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

a {
  font-size: 15px;
}

/* ================= MOBILE VIEW ONLY ================= */
@media (max-width: 768px) {

  /* Top black bar */
  .top-bar {
    /* flex-direction: column; */
    text-align: center;
    gap: 6px;
    padding: 0.75em 1em !important;
  }

  .top-bar > div {
    flex-direction: column;
    gap: 4px;
  }
  .timings {
    flex-direction: row !important;
    width: 50%;
  }

  .top-bar mat-icon {
    font-size: 16px;
  }

  /* Hide nav links */
  .nav-links {
    display: none;
  }

  /* Navbar actions */
  .nav-actions {
    gap: 0;
  }

  /* Hide Sign Up button */
  .nav-actions button:last-child {
    display: none;
  }

  /* Compact Sign In */
  .nav-actions button {
    padding: 0.4rem 0.8rem;
    font-size: 14px;
  }

  /* Logo size */
  h1 {
    font-size: 1.5rem;
  }

  .app-logo {
    height: 32px;
  }
}

/* register button styles */
.cssbuttons-io-button {
  background: rgb(29 78 216 / var(--tw-text-opacity, 1));
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
