<!-- Sticky White Navbar -->
<div class="bg-white shadow-sm py-3 px-6 flex items-center justify-between sticky top-0 z-50">
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <img class="app-logo" src="/assets/hmc-logo.png" alt="HMC Logo" style="width: 100px; height: 100px;"/>
    <h1 class="text-2xl font-bold text-gray-800">Himaneesh</h1>
  </div>

  <!-- Center Nav Links -->
  <div class="flex space-x-8 text-lg font-medium text-gray-900 nav-links justify-center items-center">
    <a href="javascript:void(0)" (click)="scrollToSection('home')" class="hover:text-blue-600 text-blue-700">Home</a>
    <a href="javascript:void(0)" (click)="scrollToSection('specialities')" class="hover:text-blue-600">Services</a>
    <a href="javascript:void(0)" (click)="scrollToSection('healthcare')" class="hover:text-blue-600">Packages</a>
    <a href="javascript:void(0)" (click)="scrollToSection('reviews')" class="hover:text-blue-600">Reviews</a>
    <a href="javascript:void(0)" (click)="scrollToSection('reach-us')" class="hover:text-blue-600">Contact</a>
    <a href="javascript:void(0)" (click)="scrollToSection('footer')" class="hover:text-blue-600">About</a>
  </div>

</div>
